
.invoice-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  max-width: 900px;
  margin: 40px auto;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.invoice-logo {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-logo img {
  max-width: 150px; 
  height: auto;
}


.invoice-header {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-header h1 {
  margin: 0;
  font-size: 28px;
  color: #333;
}

.invoice-date {
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}


.invoice-customer-details,
.invoice-products,
.invoice-totals {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customer-field,
.invoice-field,
.product-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  color: #555;
}

.customer-field span,
.invoice-field span {
  font-weight: bold;
}


.product {
  margin-bottom: 15px;
}

.product-details {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn2 {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn2 {
  background-color: none;
  color: black;
}

.btn2:hover {
  background-color: red;
  color: white;
  transform: scale(1.05);
}

.back-button {
  background-color: #007bff;
  color: #ffffff;
}

.back-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
header {
  text-align: center; 
  padding: 20px;
   
}

.logo {
  max-width: 10%; 
  height: auto; 
}
.product-table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
}

.product-table table {
  width: 100%;
  border: 1px solid #ddd;
}

.product-table td, .product-table th {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
}

.product-table .table-header {
  font-weight: bold; 
  background-color: #f4f4f4; 
}

.product-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}
