.productd {
  display: flex;
  justify-content:center;
  gap: 100px;
  align-items: flex-start;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(145deg, #ffffff, #f1f1f1);
  width: 1000px; 
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/*.productd:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}*/
.product-img{
  width: 30%;
  margin-top: 50px;
}

.product-img img {
  width: 100%;
  max-width: 300px;
}

.thumbnail-images img {
  width: 50px;
  margin: 5px;
  cursor: pointer;
}

.product-info {
  max-width: 400px;
  text-align: left;
}

.product-info h1 {
  font-size: 36px;
}

.product-info h2 {
  font-size: 24px;
  margin: 10px 0;
}

.product-info p {
  margin: 10px 0;
}

.butn {   
  cursor: pointer;  
  margin-top: 10px;
  width: auto;
  border: none;
  border-radius: 8px;  
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 48%; 
}

.btn button:hover{
  background-color: red; 
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-selector button {
  width: 30px;
  height: 30px;
}

.btn button{
  cursor: pointer;  
  margin-top: 10px;
  width: auto;
  border: none;
  border-radius: 8px;  
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 48%;
  
  
}
.butn:hover{
  background-color: red; 
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.btn button{
  padding: 10px;
}
.mrpPrice{
  text-decoration: line-through;
  color: #888;
  margin-bottom: 5px;
}
